.text-example {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color:#b71c1c;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:37rem;
    margin-top: 5rem;

}