<div class="dialog">
    <h2 mat-dialog-title>Company Name </h2>
    <mat-dialog-content>
        <form [formGroup]="form" fxLayout="column" fxLayoutAlign="start">
            <ng-container *ngIf="data && data.company">
                <input type="hidden" formControlName="id" [value]="data.company.id">
            </ng-container>

            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                <mat-form-field appearance="outline" fxFlex="100">
                    <mat-label> Company Name</mat-label>
                    <label>
                        <input matInput formControlName="name" required>
                    </label>
                    <mat-icon matSuffix class="disabled-text">card_travel</mat-icon>
                    <mat-error>Company Name is required.</mat-error>
                </mat-form-field>

            </div>

            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                <mat-form-field appearance="outline" fxFlex="100">
                    <mat-label>Address</mat-label>
                    <label>
                        <input matInput formControlName="address" required>
                    </label>
                    <mat-icon matSuffix class="disabled-text">my_location</mat-icon>
                    <mat-error>Address is required.</mat-error>
                </mat-form-field>

            </div>
            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                <mat-form-field appearance="outline" fxFlex="100">
                    <mat-label>Website</mat-label>
                    <label>
                        <input matInput formControlName="website"
                               type="url"
                               ng-pattern="/^(http[s]?:\/\/){0,1}(www\.){0,1}[a-zA-Z0-9\.\-]+\.[a-zA-Z]{2,5}[\.]{0,1}/"
                               required>
                    </label>
                    <mat-icon matSuffix class="disabled-text">web</mat-icon>
                    <mat-error *ngIf="form.get('website').hasError('required')">Website is required.</mat-error>
                    <mat-error *ngIf="form.get('website').hasError('pattern')">
                        Please Use Valid Web Address.
                    </mat-error>
                </mat-form-field>

            </div>

        </form>
    </mat-dialog-content>

    <mat-dialog-actions>
        <button [disabled]="form.invalid"
                class="mat-raised-button mat-primary primary" (click)="save()">Save</button>
        <button mat-dialog-close class="mat-raised-button warn" (click)="close()">Close</button>
    </mat-dialog-actions>
</div>
